<p id="notice"><%= notice %></p>

<h1>Machine Types</h1>

<table>
  <thead>
    <tr>
      <th>GoogleId</th>
      <th>Creation timestamp</th>
      <th>Name</th>
      <th>Description</th>
      <th>Guest cpus</th>
      <th>Memory mb</th>
      <th>Image space gb</th>
      <th>Maximum persistent disks</th>
      <th>Maximum persistent disks size gb</th>
      <th>Zone (Name)</th>
      <th>GCE Zone (Obj)</th>
      <th>Self link</th>
      <th>Is shared cpu</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @machine_types.each do |machine_type| %>
      <tr>
        <td><%= machine_type.google_id %></td>
        <td><%= machine_type.creationTimestamp %></td>
        <td><%= machine_type.name %></td>
        <td><%= machine_type.description %></td>
        <td><%= machine_type.guestCpus %></td>
        <td><%= machine_type.memoryMb %></td>
        <td><%= machine_type.imageSpaceGb %></td>
        <td><%= machine_type.maximumPersistentDisks %></td>
        <td><%= machine_type.maximumPersistentDisksSizeGb %></td>
        <td><%= machine_type.zone %></td>
        <td><%= link_to machine_type.gce_zone,machine_type.gce_zone %></td>
        <td><%= machine_type.selfLink %></td>
        <td><%= machine_type.isSharedCpu %></td>
        <td><%= link_to 'Show', machine_type %></td>
        <td><%= link_to 'Edit', edit_machine_type_path(machine_type) %></td>
        <td><%= link_to 'Destroy', machine_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Machine Type', new_machine_type_path %>
