<p id="notice"><%= notice %></p>

<h1>Machine Types</h1>

<table>
  <thead>
    <tr>
      <th>Kind</th>
      <th>Google</th>
      <th>Creation timestamp</th>
      <th>Name</th>
      <th>Description</th>
      <th>Guest cpus</th>
      <th>Memory mb</th>
      <th>Image space gb</th>
      <th>Maximum persistent disks</th>
      <th>Maximum persistent disks size gb</th>
      <th>Zone</th>
      <th>Self link</th>
      <th>Is shared cpu</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @machine_types.each do |machine_type| %>
      <tr>
        <td><%= machine_type.kind %></td>
        <td><%= machine_type.google_id %></td>
        <td><%= machine_type.creation_timestamp %></td>
        <td><%= machine_type.name %></td>
        <td><%= machine_type.description %></td>
        <td><%= machine_type.guest_cpus %></td>
        <td><%= machine_type.memory_mb %></td>
        <td><%= machine_type.image_space_gb %></td>
        <td><%= machine_type.maximum_persistent_disks %></td>
        <td><%= machine_type.maximum_persistent_disks_size_gb %></td>
        <td><%= machine_type.zone %></td>
        <td><%= machine_type.self_link %></td>
        <td><%= machine_type.is_shared_cpu %></td>
        <td><%= link_to 'Show', machine_type %></td>
        <td><%= link_to 'Edit', edit_machine_type_path(machine_type) %></td>
        <td><%= link_to 'Destroy', machine_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Machine Type', new_machine_type_path %>
