<p id="notice"><%= notice %></p>

<p>
  <strong>Kind:</strong>
  <%= @machine_type.kind %>
</p>

<p>
  <strong>Google:</strong>
  <%= @machine_type.google_id %>
</p>


<p>
  <strong>Name:</strong>
  <%= @machine_type.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @machine_type.description %>
</p>


<p>
  <strong>Maximum persistent disks size gb:</strong>
  <%= @machine_type.maximumPersistentDisksSizeGb %>
</p>

<p>
  <strong>Zone:</strong>
  <%= @machine_type.zone %>
</p>

<p>
  <strong>Self link:</strong>
  <%= @machine_type.selfLink %>
</p>

<p>
  <strong>Is shared cpu:</strong>
  <%= @machine_type.isSharedCpu %>
</p>

<%= link_to 'Edit', edit_machine_type_path(@machine_type) %> |
<%= link_to 'Back', machine_types_path %>
